
Host *
    ServerAliveInterval 300
    ServerAliveCountMax 2

Host dockergateway
HostName 192.168.56.178
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockermaster-1
HostName 192.168.56.179
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-1
HostName 192.168.56.18
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-2
HostName 192.168.56.180
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-3
HostName 192.168.56.181
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-4
HostName 192.168.56.182
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-5
HostName 192.168.56.2
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-6
HostName 192.168.56.183
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-7
HostName 192.168.56.184
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-8
HostName 192.168.56.185
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-9
HostName 192.168.56.202
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-10
HostName 192.168.56.186
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-11
HostName 192.168.56.187
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-12
HostName 192.168.56.188
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-13
HostName 192.168.56.189
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-14
HostName 192.168.56.206
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-15
HostName 192.168.56.19
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-16
HostName 192.168.56.190
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-17
HostName 192.168.56.191
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-18
HostName 192.168.56.192
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-19
HostName 192.168.56.193
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-20
HostName 192.168.56.194
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-21
HostName 192.168.56.197
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-22
HostName 192.168.56.198
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-23
HostName 192.168.56.199
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-24
HostName 192.168.56.247
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-25
HostName 192.168.56.20
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-26
HostName 192.168.56.200
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-27
HostName 192.168.56.201
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-28
HostName 192.168.56.203
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-29
HostName 192.168.56.204
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-30
HostName 192.168.56.205
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-31
HostName 192.168.56.207
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-32
HostName 192.168.56.208
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-33
HostName 192.168.56.209
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-34
HostName 192.168.56.21
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-35
HostName 192.168.56.210
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-36
HostName 192.168.56.211
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-37
HostName 192.168.56.214
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-38
HostName 192.168.56.216
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-39
HostName 192.168.56.248
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerworker-40
HostName 192.168.56.217
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerorchestra-1
HostName 192.168.56.218
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerorchestra-2
HostName 192.168.56.22
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerorchestra-3
HostName 192.168.56.221
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerorchestra-4
HostName 192.168.56.222
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerorchestra-5
HostName 192.168.56.223
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerorchestra-6
HostName 192.168.56.224
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerorchestra-7
HostName 192.168.56.225
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerorchestra-8
HostName 192.168.56.226
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerorchestra-9
HostName 192.168.56.227
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerorchestra-10
HostName 192.168.56.228
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerorchestra-11
HostName 192.168.56.23
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerorchestra-12
HostName 192.168.56.235
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerorchestra-13
HostName 192.168.56.237
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerorchestra-14
HostName 192.168.56.238
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerorchestra-15
HostName 192.168.56.241
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerorchestra-16
HostName 192.168.56.242
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerorchestra-17
HostName 192.168.56.243
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerorchestra-18
HostName 192.168.56.244
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerorchestra-19
HostName 192.168.56.245
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL

Host dockerorchestra-20
HostName 192.168.56.246
User qserv
Port 22
StrictHostKeyChecking no
UserKnownHostsFile /dev/null
PasswordAuthentication no
ProxyCommand ssh -i ~/.ssh/id_rsa_isima -q -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null -W %h:%p qserv@193.55.95.148
IdentityFile ~/.ssh/id_rsa_isima
IdentitiesOnly yes
LogLevel FATAL
